@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype-variations");
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/static/Raleway-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/static/Raleway-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/static/JetBrainsMono-Regular.ttf") format("truetype");
  }
}
