---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="min-h-screen flex items-center justify-center">
    <div class="container mx-auto px-6 py-32">
      <div class="max-w-2xl mx-auto space-y-8">
        <div class="space-y-6 text-gray-300">
          <p class="text-lg">
            Inspired by Bitcoin and Nostr, I started Unsigned Labs to bring freedom tech to the
            masses.
          </p>

          <p class="text-lg">
            We tried to do a bunch of different things in 2024 but nothing panned out. We'll do a
            lot more in 2025.
          </p>

          <p class="text-lg">
            We have had many others join us in this journey till now. I will add their names here
            when the time is right.
          </p>

          <div class="pt-6">
            <a
              href="https://nostr.at/npub1gmm2ehusvs35zgh6pq84m8hkj4ea0ygy3c9j2e3slzhjjce3kmns5tdaz2"
              class="text-purple-400 hover:text-purple-300 transition-colors"
              target="_blank"
            >
              — Basanta Goswami
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
