---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import EventsSection from "../components/Home/EventsSection.astro";
import PodcastSection from "../components/Home/PodcastSection.astro";
import HengdangSection from "../components/Home/HengdangSection.astro";
---

<Layout
  title="Home"
  description="Unsigned Labs - Building tools for digital self-sovereignty through cryptography, FOSS & open protocols"
>
  <Hero />

  <div class="section dark">
    <EventsSection />
  </div>

  <div class="section accent">
    <PodcastSection />
  </div>

  <div class="section dark">
    <HengdangSection />
  </div>
</Layout>

<style>
  .section .dark {
    background-color: var(--color-background);
    position: relative;
  }

  .section .accent {
    background-color: var(--color-dark-accent);
    position: relative;
  }

  .section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgba(123, 104, 238, .5), transparent);
  }
</style>
