<footer class="py-12">
  <div class="container mx-auto px-6">
    <div class="grid md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-xl font-bold mb-4">Unsigned Labs</h3>
        <p class="text-base">Building tools for digital self-sovereignty.</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Connect</h3>
        <div class="space-y-2">
          <a
            href="https://github.com/unsigned-labs"
            class="text-base block hover:text-gray-200"
            target="_blank">GitHub</a
          >
          <a
            href="https://nostr.at/npub12ucpp6c0g070cffu9z2c9rfsha5nnvzk8p8ze3ny3aqqj6k2aa8q0c52sm"
            class="text-base block hover:text-gray-200"
            target="_blank">Nostr</a
          >
          <a
            href="https://x.com/unsignedlabs"
            class="text-base block hover:text-gray-200"
            target="_blank">Twitter</a
          >
          <a
            href="https://discord.gg/dDa9m6hKdr"
            class="text-base block hover:text-gray-200"
            target="_blank">Discord</a
          >
        </div>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Resources</h3>
        <div class="space-y-2">
          <a href="/blog/our-vision" class="text-base block hover:text-gray-200">Our Vision</a>
          <a href="/support" class="text-base block hover:text-gray-200">Support</a>
          <a
            href="https://www.youtube.com/playlist?list=PLVksdnIVEIUWvhc8iC0-YzCbRZIh8L-fQ"
            class="text-base block hover:text-gray-200"
            target="_blank">Cyber Swaraj</a
          >
          <p class="text-base font-bold">Hengdang</p>
          <a href="https://hengdang-protocol.github.io/" class="text-base block hover:text-gray-200"
            >Hengdang Website</a
          >
          <a
            href="https://github.com/Hengdang-Protocol/spec/"
            class="text-base block hover:text-gray-200">Hengdang Protocol Spec</a
          >
          <a
            href="https://matrix.to/#/#hengdang:matrix.org"
            class="text-base block hover:text-gray-200">Hengdang Matrix Server</a
          >
        </div>
      </div>
    </div>
    <div class="mt-8 pt-8 border-t border-white border-opacity-20 text-center">
      <p class="text-base">Built with love, hope, and autism</p>
    </div>
  </div>
</footer>
