<main class="relative min-h-screen flex items-center">
  <div class="absolute left-24 top-1/4 transform -rotate-12 filter sepia hidden lg:block">
    <img
      src="/assets/ostrich.png"
      alt="Left Floating Image"
      class="rounded-full w-96 h-96 object-cover"
    />
  </div>
  <div class="absolute right-24 bottom-1/4 transform rotate-12 filter sepia hidden lg:block">
    <img
      src="/assets/man.png"
      alt="Right Floating Image"
      class="rounded-full w-72 h-72 object-cover"
    />
  </div>
  <div class="container mx-auto px-6 relative z-10">
    <div class="max-w-3xl mx-auto flex flex-col space-y-6">
      <h1 class="text-7xl font-bold text-purple-600 text-left pl-12">
        Building<br />Freedom<br />Tech
      </h1>
      <p class="text-xl text-gray-400 text-right pr-12">
        Bringing Digital Self-Sovereignty To Everyone <br />
        Through Bitcoin, Nostr, And Other Open Protocols <br />
        To Reclaim The Internet
      </p>
    </div>
  </div>
</main>
