---
import Button from "./Button.astro";

interface Props {
  sectionVariant: "purple" | "black";
}

const { sectionVariant } = Astro.props;
---

<section class="py-24">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center max-w-6xl mx-auto">
      <div class="space-y-8">
        <div>
          <h2 class="text-3xl font-bold mb-6">Cyber Swaraj</h2>
          <p class="text-base leading-relaxed">
            A Hindi podcast where we discuss freedom technologies like nostr and Bitcoin, and how
            they enable digital self sovereignty
          </p>
        </div>

        <div>
          <Button
            href="https://www.youtube.com/playlist?list=PLVksdnIVEIUWvhc8iC0-YzCbRZIh8L-fQ"
            variant="primary"
            sectionVariant={sectionVariant}
          >
            Watch on YouTube
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 ml-2"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </Button>
        </div>
      </div>
      <div class="relative">
        <div class="bg-purple-900 bg-opacity-20 absolute inset-0 transform -rotate-2 rounded-lg">
        </div>
        <div class="relative z-10 rounded-lg overflow-hidden shadow-xl">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/videoseries?si=TzfXmXcZ1sLrM9gk&list=PLVksdnIVEIUWvhc8iC0-YzCbRZIh8L-fQ"
            title="Cyber Swaraj"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            class="w-full aspect-video"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
