---
interface Props {
  variant: "purple" | "black";
  class?: string;
}

const { variant, class: className = "" } = Astro.props;

const bgClasses = {
  purple: "bg-[#995BD9]",
  black: "bg-black",
};

const bgClass = bgClasses[variant] || "";
---

<div class={`${bgClass} ${className}`}>
  <slot />
</div>
